# backend service base url, prod environment
VITE_SERVICE_BASE_URL=/api/v1

VITE_APP_TITLE=思享汇

# other backend service base url, prod environment
VITE_OTHER_SERVICE_BASE_URL= `{
  "api": "/api",
  "ws": "/"
}`

VITE_SXH_HOME_URL=https://baoprojects.site
